<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="Nico_Connection" connectionString="Server =.\; DataBase = ObligatorioP3PrimerEntrega; User Id = sa; Password=Admin1234!" providerName=" System.Data.SqlClient" />
  </connectionStrings>  
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IRetornarServicios" />
        <binding name="BasicHttpBinding_IOperacionesProveedores" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:13922/RetornarServicios.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRetornarServicios"
        contract="RetornarServiciosRef.IRetornarServicios" name="BasicHttpBinding_IRetornarServicios" />
      <endpoint address="http://localhost:13922/OperacionesProveedores.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOperacionesProveedores"
        contract="OperacionesProveedoreRef.IOperacionesProveedores"
        name="BasicHttpBinding_IOperacionesProveedores" />
    </client>
  </system.serviceModel>
</configuration>