<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="Nico_Connection" connectionString="Server =.\; DataBase = ObligatorioP3PrimerEntrega; User Id = sa; Password=Admin1234!" providerName=" System.Data.SqlClient" />
  </connectionStrings>  
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IOperacionesServicios" />
        <binding name="BasicHttpBinding_IOperacionesProveedores" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:13922/OperacionesServicios.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOperacionesServicios"
        contract="OperacionesServiciosRef.IOperacionesServicios" name="BasicHttpBinding_IOperacionesServicios" />
      <endpoint address="http://localhost:13922/OperacionesProveedores.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOperacionesProveedores"
        contract="OperacionesProveedores.IOperacionesProveedores" name="BasicHttpBinding_IOperacionesProveedores" />
    </client>
  </system.serviceModel>
</configuration>